.media-carousel-root{
    width: 100%;
}
.media-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-container img{
    width: max-content;
    max-width: 80vh;
    max-height: 80vh;
    cursor: pointer;
}
.media-container.expanded img{
    max-width: 100%;
    max-height: unset;
}