<div class="media-carousel-root">
    <div #mediaContainer role="button" tabindex="0" class="media-container" [class.expanded]="mediaExpanded" (click)="toggleMediaExpanded()">
        @for(slide of mediaArray; track $index){
            @if($index == currentSlide){
                <img src="../../../../assets/images/gallery/{{mediaArray[$index].id}}.jpg" alt="Image {{$index}} of {{this.mediaArray.length}}: {{mediaArray[$index].title || 'No alt text provided'}}"> 
            }
        }
    </div>
    @if(mediaArray.length > 1){
    <div class="item-buttons row center-h">
        <button (click)="slideLeft()" [disabled]="!isMoveValid(-1)"><</button>
        <button disabled>{{currentSlide + 1}} / {{mediaArray.length}}</button>
        <button (click)="slideRight()" [disabled]="!isMoveValid(1)">></button>
    </div>
    }
</div>