<div class="page-root">
    @if(currentItem){
    <div class="section-item">
        <div class="item-wrapper">
            <div class="item-media">
                <app-media-carousel [mediaArray]="currentItem.content"></app-media-carousel>
            </div>
            <div class="item-details">
                <h2 class="banner-primary">{{currentItem.title}}</h2>
                <div class="subcontainer">
                    <sub class="item-date">{{currentItem.postDate | date: 'M/d/y'}}</sub>
                    <div class="item-description">
                        <p>{{currentItem.description}}</p>
                    </div>
                    @for(tag of currentItem.tags; track $index){
                    <sup class="item-tags">
                        {{tag}}@if($index < currentItem.tags.length - 1){, }
                    </sup>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>