<div class="landing-root">
    <h1>Choose your path</h1>
    <!--TODO: if on mobile, focus the tab on press before going to the site-->
    <div class="landing-tabs">
        <div class="tab tab-home" role="button" tabindex="0"
            (focus)="setTitle('About Me','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('About Me','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/home">
            <h1>About Me</h1>
        </div>
        <div class="tab tab-art" role="button" tabindex="0"
            (focus)="setTitle('Art','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('Art','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/art">
            <h1>Art</h1>
        </div>
        <div class="tab tab-projects" role="button" tabindex="0"
            (focus)="setTitle('Games & Code','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('Games & Code','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/projects">
            <h1>Games & Code</h1>
        </div>
    </div>
    <!-- <h1>{{displayedTab}}</h1> -->
</div>