.landing-root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.landing-tabs{
    display: flex;
    justify-content: center;
    height: 75vh;
    flex-direction: column;
    width: 100%;
}
h1{
    color: white;
    text-align: center;
    margin: 1rem 1rem;
}
.tab{
    background-color: white;
    height: 25vh;
    width: 100%;
    cursor: pointer;
    clip-path: polygon(0% 8px, 100% 0%, 100% calc(100% - 8px), 0% 100%);
    transition: height .25s, filter .25s;
    background-position: center;
    background-size: 125% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0.5);

    h1{
        text-shadow: 0 0 1rem black;
        filter: drop-shadow(0 0 1rem black);
        white-space: nowrap;
        font-size: 1rem;
        transition: font-size .25s;
    }
}
.tab:hover,.tab:focus-within{
    height: 24rem;
    width: 100%;
    filter: opacity(1);

    h1{
        font-size: 2rem;
    }
}
.tab-home{
    background-image: url(../../../../assets/images/about/headshot.jpg);
}
.tab-art{
    background-image: url(../../../../assets/images/landing/landing-tab-art.jpg);
}
.tab-projects{
    background-image: url(../../../../assets/images/landing/landing-tab-code.jpg);
}

/* DESKTOP */
@media screen and (min-width: 768px){
    .landing-root{
        width: 100%;
    }
    .landing-tabs{
        flex-direction: row;
        width: 100%;
    }
    .tab{
        height: 100%;
        width: 10rem;
        clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
        transition: width .25s, filter .25s;
        background-position: center;
        background-size: auto 100%;
    }
    .tab:hover,.tab:focus-within{
        height: 100%;
        width: 24rem;
    }
}