<div class="landing-root">
    <h1>Choose your flavor</h1>
    <div class="landing-tabs">
        <div class="tab tab-art" (mouseenter)="setTitle('Art')" (mouseleave)="setTitle(' ')" (click)="setContext('art')"></div>
        <div class="tab tab-games" (mouseenter)="setTitle('Games')" (mouseleave)="setTitle(' ')" (click)="setContext('games')"></div>
        <div class="tab tab-code" (mouseenter)="setTitle('Code')" (mouseleave)="setTitle(' ')" (click)="setContext('code')"></div>
    </div>
    <h1>{{focusedTab}}</h1>
</div>