<div class="landing-root">
    <h1>Choose your flavor</h1>
    <!--TODO: if on mobile, focus the tab on press before going to the site-->
    <div class="landing-tabs">
        <div class="tab tab-art" role="button" tabindex="0"
            (focus)="setTitle('Art','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('Art','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/art">
            <h1>Art</h1>
        </div>
        <div class="tab tab-games" role="button" tabindex="0"
            (focus)="setTitle('Games','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('Games','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/games">
            <h1>Games</h1>
        </div>
        <div class="tab tab-code" role="button" tabindex="0"
            (focus)="setTitle('Code','focus')"
            (blur)="unsetTitle()"
            (mouseenter)="setTitle('Code','mouse')"
            (mouseleave)="unsetTitle()"
            routerLink="/code">
            <h1>Code</h1>
        </div>
    </div>
    <!-- <h1>{{displayedTab}}</h1> -->
</div>