.header-root{
    color: white;
    background-color: rgb(31,31,31);
}
.hero-banner{
    display: flex;
    margin: 0;
    height: 7rem;
    align-items: flex-end;
    overflow: hidden;
}
.hero-banner .hero-bg{
    background-image: url(../../../../assets/images/header/header-bg.jpg);
    background-position: center -7rem;
    background-size: auto 400%;
    width: 100%;
    height: 100%;
}
.hero-banner h1{
    margin: 0;
    text-shadow: 0 0 10px #96ff00;
    position: absolute;
    padding: .5rem;
}
.header-nav{
    position: relative;
}
.header-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .nav-item{
        width: 100%;
    }

    .nav-item a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        cursor: pointer;
        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
        background-color: #3d3d3d;
        transition: .075s;
        transition-timing-function: ease-in;
    }
    .nav-item:first-child a{
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
    }
    .nav-item:last-child a{
        clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .nav-item a:hover{
        background-color: #8bc34a !important;
    }
    .nav-item a.active{
        background-color: grey;
    }
}
.header-sublist{
    padding-top: 0.2rem;
    .nav-item a{
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}
.sublist-floating{
    position: absolute;
    background: linear-gradient(180deg, #1f1f1f, transparent);
    width: 100%;
}
.sublist-anchored{
    position: static;
}
/* TABLET+ */
@media screen and (min-width: 768px){
    .nav-item{
        width: fit-content !important;
    }
    .nav-item a{
        min-width: 10rem;
    }
    .nav-item:last-child a{
        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%) !important;
    }
}
a{
    color: white;
    text-decoration: none;
}

