<div class="header-root">
    <div class="hero-banner">
        <!-- <img class="hero-img" src="../../../../assets/images/header/header-bg.jpg" width="100%"> -->
        <div class="hero-bg"></div>
        <h1>Justin's Website :-)</h1>
    </div>
    <nav>
        <ul class="header-list">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
            <li><a routerLink="/etsy" routerLinkActive="active">Etsy</a></li>
        </ul>
    </nav>
</div>