<div class="header-root">
    <div class="hero-banner">
        <!-- <img class="hero-img" src="../../../../assets/images/header/header-bg.jpg" width="100%"> -->
        <div class="hero-bg"></div>
        <h1>Justin's Website :-)</h1>
    </div>
    <nav class="header-nav">
        <ul class="header-list">
            @for(item of navItems; track item){
            <li class="nav-item" (mouseenter)="showSubnav(item.path)" (mouseleave)="subnavShowing = false">
                <a routerLink="/{{item.path}}" routerLinkActive="active">{{item.name}}</a>
            </li>
            }
        </ul>
        @if(navItemChildren().length > 0){
        <ul class="header-list header-sublist sublist-anchored">
            @for(item of navItemChildren(); track item){
            <li class="nav-item sub-item">
                <a routerLink="{{item.path}}" routerLinkActive="active">{{item.name}}</a>
            </li>
            }
        </ul>
        }

        <ul class="header-list header-sublist sublist-floating" [class.sublist-hide]="shouldHideSubnav()"
            (mouseenter)="subnavShowing = true" (mouseleave)="hideSubnav()">
            @for(item of navItemChildrenHovered; track item){
            <li class="nav-item sub-item"><a routerLink="{{item.path}}" routerLinkActive="active">{{item.name}}</a></li>
            }
        </ul>
    </nav>
</div>