.header-root{
    color: white;
    background-color: rgb(31,31,31);
}
.hero-banner{
    display: flex;
    margin: 0;
    /* padding: .5rem; */
    height: 7rem;
    align-items: flex-end;
    overflow: hidden;
}
.hero-banner .hero-bg{
    background-image: url(../../../../assets/images/header/header-bg.jpg);
    background-position: center -7rem;
    background-size: auto 400%;
    width: 100%;
    height: 100%;
}
.hero-banner h1{
    margin: 0;
    text-shadow: 0 0 10px #96ff00;
    position: absolute;
    padding: .5rem;
}
.header-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .nav-item{
        width: 100%;
    }

    .nav-item a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        min-width: 10rem;
        cursor: pointer;
        clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
        background-color: #3d3d3d
    }
    .nav-item:nth-child(1) a{
        clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
    .nav-item a:hover{
        background-color: #8bc34a !important;
        transition: .075s;
        transition-timing-function: ease-in;
    }
    .nav-item a.active{
        background-color: grey;
    }
}
/* MOBILE SM */
@media screen and (min-width: 768px){
    .nav-item{
        width: fit-content !important;
    }
}
a{
    color: white;
    text-decoration: none;
}

