<div class="page-root">
    <section>
        <h2 class="banner-primary">Games</h2>
        <p>Game projects I've started working on and rough drafts.</p>
        
        <div class="project-list">
            <!--repeat start-->
            @for(item of gameProjectList; track $index){
            <div class="project-item" role="button" tabindex="0" style="background-image: url(../../../../assets/images/games/mock-entries/{{item.id}}-banner.jpg);">
                <div class="project-info row space-between">
                    <div class="info-left">
                        <h2>{{item.title}}</h2>
                        <p>{{item.meta}}</p>
                    </div>
                    <div class="info-right">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            }
            <!--repeat end-->
        </div>
    </section>
</div>