<div class="page-root">
    <section>
        <h2 class="banner-primary">Games</h2>
        <p>Game projects I've started working on and rough drafts.</p>
        
        <div class="project-list">
            <!--repeat start-->
            <div class="project-item" role="button" tabindex="0" style="background-image: url(../../../../assets/images/games/mock-entries/taleofessence-mock.jpg);">
                <div class="project-info row space-between">
                    <div class="info-left">
                        <h2>Tale of Essence</h2>
                        <p>Action-Adventure</p>
                    </div>
                    <div class="info-right">
                        <p>Insert short description here with some different words and stuff</p>
                    </div>
                </div>
            </div>
            <!--repeat end-->
        </div>
    </section>
</div>