<div class="page-root">
    <section>
        <h2 class="banner-primary">Games</h2>
        <p>Game projects I've started working on and rough drafts.</p>
        14
        <div class="project-list">
            <!--repeat start-->
            <div class="project-item" style="background-image: url(../../../../assets/images/games/mock-entries/taleofessence-mock.jpg);">
                <div class="project-info">
                    <h2>Tale of Essence</h2>
                    <p>Action-Adventure</p>
                </div>
            </div>
            <!--repeat end-->
        </div>
    </section>
</div>