.header-root{
    color: white;
    background-color: rgb(31,31,31);
}
.hero-img{
    background-image: url(../../../assets/images/header/header-bg.jpg);
    background-position: center -4rem;
    background-size: 100%;
    display: flex;
    margin: 0;
    padding: .5rem;
    height: 7rem;
    align-items: flex-end;
}
.hero-img h1{
    margin: 0;
    text-shadow: 0 0 10px #96ff00;
}
.header-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        min-width: 5rem;
        cursor: pointer;
        clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
    li:nth-child(1){
        clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
    li:hover{
        background-color: grey;
        transition: .075s;
        transition-timing-function: ease-in;
    }
}