.section-aboutme{
    .aboutme-row{
        flex-wrap: wrap;
        position: relative;

        .aboutme-left{
            padding: 0 1rem 3rem 1rem;
            width: 100%;
            background: linear-gradient(90deg, var(--color-background), #1f1f1f88);
            z-index: 10;
        }
        .aboutme-right{
            width: 100%;
            height: 100%;
            position: absolute;

            .img-wrapper{
                clip-path: polygon(4rem 0, 0 100%, 100% 100%, 100% 0);
                width: 100%;
                max-width: 25rem;
                height: 100%;

                .img-headshot{
                    background-image: url(../../../../assets/images/about/headshot.jpg);
                    background-position: center;
                    background-size: auto 150%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.section-skills{
    margin-bottom: 1rem;
    position: relative;

    .list-gradient{
        position: absolute;
        z-index: 10;
        left: -16rem;
        background: linear-gradient(90deg, var(--color-background) 40%, transparent 60%);
        width: 50%;
        height: -webkit-fill-available;
        pointer-events: none;
    }
    .skills-wrapper{
        width: 100%;

        .skills-list{
            width:80%;

            .skill{
                --skill-container-height: 10rem;
                width: 100%;
                height: var(--skill-container-height);
                margin-top: 0.5rem;
                padding: 0;
                min-width: 18rem;
                position: relative;
                background: transparent;

                .skill-overlay{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    transition: .5s translate ease-in-out, .075s background ease-out;
                    background: var(--color-primary);
                }
                .skill-detail{
                    clip-path: var(--clip-rhombus);
                    background: var(--color-secondary);
                    width: 95%;
                    height: var(--skill-container-height);

                    p{
                        margin: .5rem 1.5rem;
                    }
                }
            }
            .skill.active{
                cursor: default;
                pointer-events: none;
            }
            .skill.active .skill-overlay,.skill:hover .skill-overlay{
                background: var(--color-active);
            }
            .skill.active:nth-child(even) .skill-overlay{
                translate: 150%;
            }
            .skill.active:nth-child(odd) .skill-overlay{
                translate: -150%;
            }
        }

        button.showall-skills{
            width: 80%;
            margin-top: 0.5rem;
        }
    }
}
@media screen and (min-width: 768px){
    .aboutme-row{

        .aboutme-left{
            background: linear-gradient(90deg, var(--color-background), transparent) !important;
            
            p {
                width: 60% !important;
            }
        }
    }
    .skills-list .skill{
        width: 50% !important;
    }
}