<div class="page-root">
    <section class="section-aboutme">
        <h2 class="banner-primary">About me</h2>
        <div class="aboutme-row row">
            <div class="aboutme-left col fx-slidein-left">
                <h3>Hey there, and welcome to my website!</h3>
                <p>
                    I'm a frontend programmer with an eye for aesthetics and fine-details, dedicated to crafting great user
                    experiences.
                </p>
                <p>
                    I've been in the industry for almost 2 years, working with various programming languages and tech stacks 
                    with multiple fortune-500 companies, and I'm always looking to broaden my horizons and skills.
                </p>
                <p>
                    Outside of strictly front-end programming, I've got an interest in a little bit of everything!
                    One of main hobbies is art, primarily sketching and some painting as well as some dabbling in 3D
                    modeling, animation, and some video editing as well.
                    Much of my art-focused content can be found under the 'Art' section, with some other things to check out
                    like an avatar creator and Etsy shop!
                </p>
                <p>
                    I'm also very interested in different aspects of game development, and work on many of my own small game
                    projects for fun, which can be found in the 'Games' section.
                </p>
            </div>
            <div class="aboutme-right col align-end fx-slidein-right">
                <div class="img-wrapper">
                    <div class="img-headshot"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-skills">
        <h2 class="banner-primary">Experience and Skills</h2>
        <div class="skills-wrapper col center-v">
            <button class="showall-skills" (click)="toggleShowAllSkills()">Show All</button>
            <div class="skills-list wrap center">
                @for(skill of skills; track $index){
                    <button class="skill center" (focus)="selectSkill($index)" [class.active]="showSkill(skill.label)">
                        <div class="skill-detail">
                            <sub>{{skill.level}}</sub>
                            <p>{{skill.description}}</p>
                        </div>
                        <div class="skill-overlay center">
                            <p>{{skill.label}}</p>
                        </div>
                    </button>
                }
            </div>
        </div>
    </section>
    <section class="section-">

    </section>
</div>