.aboutme-row{
    flex-wrap: wrap;
}
.img-wrapper{
    max-width: 10rem;
    img{
        width: 100%;
    }
}
.skill-detail{
    overflow: hidden;
    transition: height .25s;
    height: 0rem;
}
.skill-detail.expanded{
    height: 8rem;
}
@media screen and (min-width: 768px){
    .aboutme-row{
        flex-wrap: nowrap;
    }
}