<div class="page-root">
    <div class="section-gallery">
        @for(item of displayedGalleryItems; track item){
        <a class="gitem-card" role="button" tabindex="0" routerLink="{{item.id}}">
            <div class="gitem-thumb-wrapper center">
                <img class="gitem-thumbnail" src="{{imagePath}}{{item.content[0].id}}.{{item.content[0].extention}}">
            </div>
            <div class="gitem-meta">
                <p class="gitem-title">{{item.title}}</p>
                <p class="gitem-date">{{item.dateCreated | date: 'M/d/y'}}</p>
            </div>
        </a>
        }
    </div>
</div>