.section-gallery{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gitem-card{
    --gitem-size: 12.9rem;
    cursor: pointer;
    text-decoration: none;
    background-color: whitesmoke;
    width: var(--gitem-size);
    border: 1px solid black;
    padding: .1rem;
    margin: .15rem;
    box-shadow: 0 0 0 #00000080;
    transform: translate(0,0);
    transition: box-shadow .05s ease-out, transform .05s ease-out;

    .gitem-thumb-wrapper{
        width: var(--gitem-size);
        height: var(--gitem-size);
        background-color: lightgrey;
        overflow: hidden;

        .gitem-thumbnail{
            width:100%;
        }
    }
    .gitem-meta{
        display: flex;
        justify-content: space-between;

        p{
            margin: .1rem;
            font-size: .75rem;
            color: black;
        }
    }
}

.gitem-card:hover,.gitem-card:focus{
    box-shadow: 1px 1px 10px #00000080;
    transform: translate(-0.1rem, -0.1rem);
}