<div class="page-root">
    <div class="section-gallery">
        @for(item of displayedGalleryItems; track item){
        <a class="gitem-card" role="button" tabindex="0" routerLink="{{item.id}}">
            <div class="gitem-thumb-wrapper">
                <img class="gitem-thumbnail" src="../../../../assets/images/gallery/no-thumbnail.jpg">
            </div>
            <div class="gitem-meta">
                <p class="gitem-title">{{item.title}}</p>
                <p class="gitem-date">{{item.dateCreated | date: 'M/d/y'}}</p>
            </div>
        </a>
        }
    </div>
</div>