<div class="page-root">
    <div class="section-gallery">
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 1</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 2</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 3</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 4</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 5</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 6</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 7</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
        <div class="gitem-card">
            <div class="gitem-image-wrapper"></div>
            <div class="gitem-meta">
                <p class="gitem-title">Gallery item 8</p>
                <p class="gitem-date">01/01/2025</p>
            </div>
        </div>
    </div>
</div>