/* Variables */
:root{
    /* Screen sizes */
    --mobile-sm: 420px;
    --mobile: 768px;
    --tablet: 1024px;
    --desktop: 1600px;
    --desktop-lg: 1980px;

    /* Colors */
    --color-highlight: #8bc34a;
    --color-background: #1f1f1f;
    --color-active: #808080;
    --color-primary: #5e5e5e;
    --color-secondary: #3d3d3d;
    --color-text-dark: #f5f5f5;
    --color-text-light: #1f1f1f;
    --color-text: var(--color-text-dark);

    /* Misc */
    --clip-rhombus: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    --clip-rhombus-noleft: polygon(0% 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
}
/* Topmost rules */
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-background);
}
body{
    /* min-height: 50vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
@media screen and (max-width: 70rem){
    app-root{
        width: 100%;
    }
}

/* Utility rules */
.hidden{
    visibility: hidden;
}
.flex{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.center-h{
    display: flex;
    align-items: center;
}
.center-v{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-l{
    align-items: flex-start;
}
.align-r{
    align-items: flex-end;
}

/* Shared rules */
.page-root{
    padding: 0 1rem;
}
button{
    padding: .75rem;
    cursor: pointer;
    clip-path: var(--clip-rhombus);
    background: grey;
    color: var(--color-text);
    font-size: 1rem;
    border: none;
    transition: .075s ease-in;
}
button:hover:not([disabled]){
    background: var(--color-highlight);
}
button.active:not([disabled]){
    background: var(--color-highlight);
}
button:focus{
    background: var(--color-highlight);
}
button[disabled]{
    background: lightgrey;
    cursor: default;
}
.buttons-list-left button:first-child{
    clip-path: var(--clip-rhombus-noleft);
}
/* Headers and text */
h1,h2,h3,h4,h5,h6,sub,sup{
    color: var(--color-text);
}
h2{
    background: var(--color-secondary);
    margin: .5rem -3rem;
    margin-bottom: 0;
    padding: 1rem 3rem;
    clip-path: var(--clip-rhombus);
    width: 100%;
    min-width: 15rem;
}
p{
    margin: .5rem 0;
    color: var(--color-text);
}
/* Containers */
.subcontainer{
    background: grey;
    margin: 0 -1rem;
    padding: 0 1rem;
    width: 100%;
    min-width: 15rem;
}

/* Animations */
.fx-slidein-left{
    animation: slidein-left .5s ease-out;
} @keyframes slidein-left {
    from {
        transform: translateX(-100%);
        opacity: 0%;
    }
    to {
        transform: translateX(0%);
        opacity: 100%;
    }
}
.fx-slidein-right{
    animation: slidein-right .5s ease-out;
} @keyframes slidein-right {
    from {
        transform: translateX(100%);
        opacity: 0%;
    }
    to {
        transform: translateX(0%);
        opacity: 100%;
    }
}
.fx-fadein{
    animation: anim-fadein .5s ease-out;
} @keyframes anim-fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}