/* Variables */
:root{
    /* Screen sizes */
    --mobile-sm: 420px;
    --mobile: 768px;
    --tablet: 1024px;
    --desktop: 1600px;
    --desktop-lg: 1980px;

    /* Colors */
    --color-highlight: #7aa549;
    --color-background: #1f1f1f;
    --color-active: #808080;
    --color-primary: #5e5e5e;
    --color-secondary: #3d3d3d;
    --color-text-dark: #f5f5f5;
    --color-text-light: #1f1f1f;
    --color-text: var(--color-text-dark);

    /* Misc */
    --clip-rhombus: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    --clip-rhombus-noleft: polygon(0% 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
}
/* Topmost rules */
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-background);
}
body{
    /* min-height: 50vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
app-root{
    width: 100%;
}
@media screen and (min-width: 70rem){
    app-root{
        width: unset;
    }
}
.root-stage{
    width: 100%;
}
.page-root{
    padding: 0;
}
@media screen and (min-width: 70rem){
    .root-stage{
        width: 70rem;
    }
    .page-root{
        padding: 0 1rem;
    }
}


/* Utility */
.invisible{
    visibility: hidden;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.center-v{
    display: flex;
    align-items: center;
}
.center-h{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-start{
    display: flex;
    align-items: flex-start;
}
.justify-start{
    display: flex;
    justify-content: flex-start;
}
.align-end{
    display: flex;
    align-items: flex-end;
}
.justify-end{
    display: flex;
    justify-content: flex-end;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Shared rules */
button{
    padding: .75rem;
    cursor: pointer;
    clip-path: var(--clip-rhombus);
    background: var(--color-primary);
    color: var(--color-text);
    font-size: 1rem;
    border: none;
    transition: .075s ease-in;
}
button:hover:not([disabled]){
    background: var(--color-highlight);
}
button.active:not([disabled]){
    background: var(--color-highlight);
}
button:focus{
    background: var(--color-highlight);
}
button[disabled]{
    background: #b8b8b8;
    color: var(--color-primary);
    cursor: default;
}
.button-list-left {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    > li:first-child > button{
        clip-path: var(--clip-rhombus-noleft);
    }
}

/* Headers and text */
h1,h2,h3,h4,h5,h6,sub,sup{
    color: var(--color-text);
}
.banner-primary{
    background: var(--color-secondary);
    margin: 0;
    padding: 1rem 1rem;
}
@media screen and (min-width: 1120px) {
    .banner-primary{
        margin: 0 -3rem;
        padding: 1rem 3rem;
        clip-path: var(--clip-rhombus);
    }
}
.banner-secondary{
    background: var(--color-primary);
    margin: 0.5rem -1rem;
    padding: 1rem 2rem;
    clip-path: var(--clip-rhombus);
}
p,label{
    margin: .5rem 0;
    color: var(--color-text);
}
select{
    padding: .25rem;
    min-width: 8rem;
}

/* Containers */
.subcontainer{
    background: var(--color-primary);
    padding: 0 1rem;
    min-width: 15rem;
}

/* Animations */
.fx-slidein-left{
    animation: slidein-left .5s ease-out;
} @keyframes slidein-left {
    from {
        transform: translateX(-100%);
        opacity: 0%;
    }
    to {
        transform: translateX(0%);
        opacity: 100%;
    }
}
.fx-slidein-right{
    animation: slidein-right .5s ease-out;
} @keyframes slidein-right {
    from {
        transform: translateX(100%);
        opacity: 0%;
    }
    to {
        transform: translateX(0%);
        opacity: 100%;
    }
}
.fx-fadein{
    animation: anim-fadein .5s ease-out;
} @keyframes anim-fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}